:root {
    --fg: rgb(12, 66, 35);
    --bg: rgba(202, 185, 165, 0.454);
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);

    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;

    background: var(--fg);
    color: var(--bg);
}

main {
    grid-area: main;

    margin: 20px;

    display: grid;

    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas: 
    "title"
    "question"
    "selection"
    "validation";

    border: 1px solid var(--fg);
    border-radius: 20px;

    max-width: 2000px;
    justify-self: center;
}

main > header {
    grid-area: title;
    border-radius: 20px 20px 0 0;
}

main > #questionContainer{
    grid-area: question;
    font-family: sans-serif;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    border-bottom: 1px solid var(--fg);
}

main > #selection {
    grid-area: selection;

    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
main > #selection form {
    display: grid;
    grid-template: 40% 40% / 40% 40%;
    height: 80%;
    min-height: 300px;
    width: 80%;
    max-width: 75rem;
    min-width: 100px;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

main > #selection form .choice {
    width: 75%;
    height: 50%;
    min-height: 100px;
    background: var(--fg);
    color: var(--bg);
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid var(--bg);
    box-shadow: 0 0 2px 1px var(--fg), 0 0 4px 2px var(--fg);
    transition: .5s;
}

main > #selection form .choice:hover {
    scale: 1.1;
}

main > #confirmation {
    grid-area: validation;
    margin: 10px;
    border-top: 1px solid var(--fg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > #confirmation button {
    height: 50px;
    width: 15%;
    background-color:var(--fg);
    color: var(--bg);
    box-shadow: 0 0 2px 1px var(--bg), 0 0 4px 2px var(--fg);
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid var(--fg);
    transition: .5s;
}

main > #confirmation button:hover {
    background-color: var(--bg);
    color: var(--fg);
}

button {
    cursor: pointer;
}


footer {
    grid-area: footer;
    background-color: var(--fg);
    color: var(--bg);
    font-size: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > #domain  > p {
    margin-right: 100px;
}

footer > #domain > a {
    color: var(--bg);
    text-decoration: none;
    width: 100px;
    height: 100px;
}

footer > #domain > a > .fa-github {
    font-size: 25px;
}

#animationWrongAnswer {
    animation: spawn .5s linear;
}

@keyframes spawn {
    from {
        transform: translate(-50%, -50%) scale(1)
    }

    to {
        transform: translate(-50%, -50%) scale(6)
    }
}